<%- include('./partials/header') %>
  <div class="m-auto text-white mt-8 max-w-screen-md p-8 rounded-xl flex flex-col items-center ">
    <h1 class="text-4xl mb-8 text-center">
      Type the secret word to become an Admin!
    </h1>
    <form method="post" class="flex flex-col justify-center">
      <div class="form-group">
        <label for="secret">Secret Word:</label>
        <input type="text" id="secret" name="secret" class="form-control" %>">
      </div>
      <button class="button" type="submit"> Submit </button>
    </form>

    <% if (errors) { %>
      <br>
      <ul class="list-disc">
        <% for(error of errors) { %>
          <li class="text-red-800">
            <%= error.msg %>
          </li>
          <% } %>
      </ul>
      <% } %>
  </div>



  <%- include('./partials/footer') %>